.admin-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.admin-content {
  display: flex;
  flex: 1;
}

.admin-main-content {
  flex: 1;
  margin-left: 300px; // Chiều rộng của sidebar
  margin-top: 60px; // Chiều cao của header
  padding: 20px;
  width: 1550px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.user-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ant-table-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ant-spin-nested-loading {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ant-spin-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ant-table {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ant-table-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ant-table-body {
  flex: 1;
  overflow-y: auto;
}