body {
  margin: 0;
  padding: 0;
  background-color: #0D111AFF;
  color: rgb(255, 255, 255);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(31, 41, 55, 0.9);
  /* Slightly transparent */
  transition: background-color 0.3s;
}

.header.scrolled {
  background-color: rgba(31, 41, 55, 0.9);
  /* Slightly transparent */
}


.swiper {
  padding-top: 75px;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.main-content {
  background-image: url('/assets/image/joker.webp');
  background-size: cover;
  background-position: center;

}

.modal {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #06080a;
  border: 1px solid #606366;
  border-radius: 8px;
  width: 200px;
  z-index: 2000;
  left: 10px;
}

.modal.active {
  display: block;
}

.user-name:hover+.modal {
  display: block;
}

.hover-zoom:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.hover-text:hover {
  color: orangered;
}

.modal-trailer {
  display: none;
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-trailer-content {
  background-color: #1c1c1c;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.btn-primary {
  border: 2px solid #eeda26;
  color: #eeda26;
}

.btn-border-radius {
  border: 2px solid white;
}

.hover-background:hover {
  background-color: #5c5d5f;
}

.seat {
  width: 30px;
  height: 30px;
  margin: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.seat.selected {
  background-color: #4a90e2;
}

.seat.vip {
  background-color: #ff9900;
}

.seat.double {
  background-color: #ff0000;
}

.seat.taken {
  background-color: #333;
  cursor: not-allowed;
}

.seat.available {
  background-color: #444;
}

.active-link {
  color: rgb(255, 72, 0);
}

.ant-result .ant-result-title {
  color: #ffffff; 
}

.ant-result .ant-result-subtitle {
  color: #ffffff;
}