.form-container {
    padding: 20px;
    background-color: #898989;
    border-radius: 8px;
}

.bg-primary {
    background-color: var(--primary-color);
}

.ant-input {
    border-radius: 4px;
}

.ant-btn {
    border-radius: 4px;
}